html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
  position: relative;
  min-height: 100%;
}
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    margin-bottom: 50px;
    font-size: 15px;
    color: #333;
}
h2,h3,h4,h5,h6,h7,h8{
    margin: 0;
}
h1 {
    font-size: 80px;
    font-family: 'Comforter', cursive;
    text-align: center;
    margin-top: 150px;
    padding-top: 100px;
}
.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 75vh;
    background: url("../Images/Intro1.jpeg")
    center
    no-repeat;
    background-size: cover;
}
.intro__inner{
    width: 100%;
    max-width: 880px;
    margin-top: 20px;
    margin: 0 auto;
    text-align: center;
}
.intro_suptitle {
    margin-bottom: 15px;
    font-family: 'Comforter', cursive;
    font-size: 72px;
    color: #000000;
    text-align: center;
}
.intro__title{
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    color: #000000;
}
.intro__title:after{
    content:"";
    display: block;
    width: 60px;
    height: 3px;
    background-color: #000000;
    margin: 60px auto;
}
.header{
    width: 100%;
    padding-top: 30px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header_logo {
    font-size: 30px;
    font-weight: 700;
    color: #ff9100;
    text-shadow: 1px 1px 2px black;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    font-size: 14px;
    text-transform: uppercase;   
}
.nav__link{
    display: inline-block;
    text-decoration: none;
    color: #000000;
    vertical-align: top;
    margin: 0 20px;
    position: relative;
    transition: color 0.2s linear;
}
.nav__link:after {
        content: "";
        display: block;
        width: 100%;
        height: 3px;
        opacity: 0;
        background-color: #ff9100;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1;
        transition: opacity 0.2s linear;
    }
.nav__link:hover{
    color: #ff9100
}
.nav__link:hover:after {
        opacity: 1;    
}
.button {
    display: inline-block;
    vertical-align: top;
    padding: 8px 30px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.2s linear, color 0.2s linear, border 0.2s linear;
}
.button:hover{
    background-color: #ff9100;
    color: #ffffff;
    border-color: #ff9100;
}
.box {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: -30px 60px 80px 60px;
}
.text {
    width: 300px;
    height: 24px;
    font-weight: 300;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 5px 0 18px;
}
.border__1 {
    display: inline-block;
    box-sizing: border-box;
    width: 310px;
    height: 198px;
    border: 1px solid #FBC002;
    border-radius: 10px;
}
.box__1 {
    height: 187px;
    width: 301px;
    background: #FBC002;
    display: inline-block;
    border-radius: 10px;
    align-items: center;
    margin: 4px 4px 4px 4px;
}
.subtext__1 {
    width: 280px;
    height: 71px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #E35538;
    padding: 50px 0 0 18px;
}
.btn__1 {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    border: 1px solid #E35538;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    z-index: 10000;
    margin: 34px 0 0 200px;
    transition: background 0.2s linear, color 0.2s linear, border 0.2s linear;
}
.btn__1:hover {
    background-color: #E35538;
    color: #ffffff;
    border-color: #E35538;
}
.border__2 {
    display: inline-block;
    box-sizing: border-box;
    width: 310px;
    height: 198px;
    border: 1px solid #E35538;
    border-radius: 10px;
}
.box__2 {
    height: 187px;
    width: 301px;
    background: #E35538;
    display: inline-block;
    border-radius: 10px;
    margin: 4px 4px 4px 4px;
}
.subtext__2 {
    width: 280px;
    height: 71px;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: #F4A73F;
    padding: 50px 0 0 18px;
}
.btn__2 {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    border: 1px solid #F4A73F;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    z-index: 10000;
    margin: 34px 0 0 200px;
    transition: background 0.2s linear, color 0.2s linear, border 0.2s linear;
}
.btn__2:hover {
     background-color: #F4A73F;
     color: #ffffff;
     border-color: #F4A73F;
 }
.border__3 {
    display: inline-block;
    box-sizing: border-box;
    width: 310px;
    height: 198px;
    border: 1px solid #F4A73F;
    border-radius: 10px;
}
.box__3 {
    height: 187px;
    width: 301px;
    background: #F4A73F;
    display: inline-block;
    border-radius: 10px;
    align-items: center;
    margin: 4px 4px 4px 4px;
}
.subtext__3 {
    width: 280px;
    height: 71px;
    color: #E35538;
    font-weight: 300;
    font-size: 15px;
    padding: 50px 0 0 18px;
    line-height: 18px;
}
.btn__3 {
    display: inline-block;
    vertical-align: top;
    padding: 5px 15px;
    border: 1px solid #E35538;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 300;
    color: #ffffff;
    text-decoration: none;
    z-index: 10000;
    margin: 34px 0 0 200px;
    transition: background 0.2s linear, color 0.2s linear, border 0.2s linear;
}
.btn__3:hover {
     background-color: #E35538;
     color: #ffffff;
     border-color: #E35538;
}
.category {
    width: 955px;
    height: 1250px;
    background: url("../Images/Background.jpg") center no-repeat;
    transform: rotate(90);
    background-size: cover;
    z-index: -5;
    margin: -200px auto;
}
.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
}
.popup:target{
    opacity: 1;
    visibility: visible;
}
.popup_body {
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}
.popup_content {
    background-color: #ffffff;
    color: #000;
    max-width: 800px;
    min-height: 800px;
    padding: 30px;
    position: relative;
}
.popup_close {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.popup_area {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.popup_title {
    font-size: 40px;
    margin: 0px 0px 1em 0px;
}
.menu a{
text-decoration: none;
}
.menu li{
    position: relative;
    list-style: none;
}
.menu_list {
    display: flex;
}
.menu_list>li{
    margin: 0px 10px 0px 0px;
}
.menu_list>li:hover .sub-menu_list{
        display: block;
 }
.menu_link {
    color: #000;
    font-weight: bold;
}
.sub-menu_list {
    display: none;
    min-width: 200px;
    position: absolute;
    left: 0;
    top: 20px;
    background-color: #808080;
}
.sub-menu_list>li:hover .sub-sub-menu_list {
    display: block;
}
.sub-menu_link {
        color: #000;
        display: inline-block;
        padding: 5px 10px;
 }
.sub-sub-menu_list{
    display:none;
    position: absolute;
    top: 0;
    left: 100%;
    min-width: 150px;
    padding: 0px 0px 0px 0px;
}
.sub-sub-menu_link {
    color: #ffffff;
    display: inline-block;
    padding: 5px 10px;
}
.sub-sub-menu_list>li{  
    background-color: #333;
}
.category_button {
    display: table;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    vertical-align: top;
    padding: 20px 100px;
    border: 1px solid #000000;
    border-radius: 10px;
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    text-transform: uppercase;
    text-decoration: none;
    transition: background 0.2s linear, color 0.2s linear, border 0.2s linear;
}
.category_button:hover {
    background-color: #ff9100;
    color: #ffffff;
    border-color: #ff9100;
}
.foot {
    background-color: #ff9100;
    height: 30px;
    position: absolute;
    width: 100%;
    bottom:0;
}
.name_recipe {   
    color: aqua;
    font-weight: bold;
}
.list_prep {
    right: 100px;
    display: flex;
    justify-content: center;
}
.list_kitchen {  
    top: -2px;
    left: 40px;
}
