<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Е-Кулинар</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/css/site.css" /> 
</head>


<body>
  
  <header class="header">
        <div class="container">
            <div class="header__inner">
               <div class="header_logo">Е-Кулинар</div>
                <nav class="nav">
                   <a class="nav__link" href="https://localhost:7162/Recipes/Main">Рецепты</a>
                   <a class="nav__link" href="#">Идеи</a>
                   <a class="nav__link" href="#">Авторы</a>
                </nav>
             </div>
         </div>
           
  </header>

@* <div id="popup" class="popup">
     <a href="#body" class="popup_area">

     </a>
        <div class="popup_body">
            <div class="popup_content"> 
              <a href="#body" class="popup_close">X</a>
              <div class="popup_title">Добавьте свой рецепт!</div>
              <div class="popup_text">                 
                <nav class="menu">
                <ul class="menu_list">
                    <li>
                        <a href="" class="menu_link">Выбор Категории</a>
                        <ul class="sub-menu_list">
                            
                            
                            <li>
                                <a href="" class="sub-menu_link">Супы</a>
                                <ul class="sub-sub-menu_list">
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Борщ</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Суп-пюре</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Бульон</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Молочный суп</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Куриный бульон</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Свекольник</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Суп-лапша</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Рассольник</a>
                                    </li>
                                </ul>
                            </li>
                            
                            <li>
                                <a href="" class="sub-menu_link">Мясо</a>
                                <ul class="sub-sub-menu_list"> 
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из баранины</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из свинины</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из говядины</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из телятины</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Шашлык</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Колбасные изделия</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из птицы</a>
                                    </li>
                                </ul>
                            </li>
                             <li>
                                <a href="" class="sub-menu_link">Гарниры</a>
                                <ul class="sub-sub-menu_list"> 
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из круп</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Картофельный гарнир</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Макаронные изделия</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из овощей</a>
                                    </li>
                                 
                                </ul>

                            </li>
                            <li>
                                <a href="" class="sub-menu_link">Салаты</a>
                                <ul class="sub-sub-menu_list"> 
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из овощей</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из говядины</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из индейки</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из курицы</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из баранины</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">из морепродуктов</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из ветчины</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из бобовых</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из мяса</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из свинины</a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="" class="sub-menu_link">Закуски</a>
                                <ul class="sub-sub-menu_list"> 
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Бутерброд</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Горячие закуски</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из овощей</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из мяса</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из рыбы</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">из морепродуктов</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из сыра</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Из яиц</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">С грибами</a>
                                    </li>
                                   
                                </ul>
                            </li>
                            <li>
                                <a href="" class="sub-menu_link">Выпечка</a>
                                <ul class="sub-sub-menu_list"> 
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Бисквитное тесто</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Блины</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Оладьи</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Сырники</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Булочки</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Хлеб</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Дрожжевое тесто</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Лепешки</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Лаваш</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Пончики</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Пирожки</a>
                                    </li>
                                   
                                </ul>
                            </li>
                            <li>
                                <a href="" class="sub-menu_link">Десерты</a>
                                <ul class="sub-sub-menu_list"> 
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Безе</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Печенье</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Торт</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Вафли</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Гренки</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Желе</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Мороженое</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Мусс</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Мюсли</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Чизкейк</a>
                                    </li>
                             
                                </ul>

                            </li>
                            <li>
                                <a href="" class="sub-menu_link">Соусы</a>
                                <ul class="sub-sub-menu_list"> 
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Майонез</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Подлива</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Сладкий соус</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Ягодный соус</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">Салатная заправка</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">К рыбе</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">К птице</a>
                                    </li>
                                    <li>
                                        <a href="" class="sub-sub-menu_link">К мясу</a>
                                    </li>
                                    
                                </ul>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
                  </nav>
                  <p style="color: #fff">
                      dsfsdfdsffsd
                  </p>
                  <form class="list_prep" action="">
                      <select name="" id="" >
                          <option value="" disabled>Способ готовки</option>
                          <option value="" >option2</option>
                          <option value="" >option3</option>
                          <option value="" >option4</option>
                          <option value="" >option5</option>
                      </select>
                  </form>

                  <form class="list_kitchen" action="">
                      <select name="" id="" >
                          <option value="" disabled>Тип кухни</option>
                          <option value="" >option2</option>
                          <option value="" >option3</option>
                          <option value="" >option4</option>
                          <option value="" >option5</option>
                      </select>
                  </form>
                  <p style="color: #fff">
                      dsfsdfdsffsd
                  </p>
               <div >
      <a сlass="name_recipe"> Название рецепта</a>
       <input type="text" size="40" />
    </div><Br>

    <form enctype="multipart/form-data" method="post">
   <p>Загрузите фотографии</p>
   <p><input type="file" name="photo" multiple accept="image/*,image/jpeg">
   </p>
  </form>

    <div сlass="comment"><Br>
       <p>Ингридиенты и способ приготовления<Br>
       <textarea name="comment" cols="60" rows="8"></textarea></p>
       <p><input type="submit" value="Загрузить">
   <input type="reset" value="Очистить"></p>

    </div>
              </div>
              
            </div>
            

        </div>
        

    </div>*@

    
@*  <header>    
       <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Е-Кулинар</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                        </li>
                        <li class="nav-item">
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
  </header>  *@
 
     <div class="intro">
         <div class="container">
             <div class="intro__inner">
                 <h2 class="intro_suptitle">Время творить</h2>
                <h3 class="intro__title">Добро пожаловать на Е-Кулинар</h3>
                <a class="button" href="#">Узнать больше</a>
             </div>
         </div>
    </div>

    <div class="box">
       <div class ="border__1">
               <div class="box__1">
                   <div class="text">По типу приготовления</div>
                   <div class="subtext__1">Найдем рецепты блюд, приготовленных на пару, в духовке и т.д.</div>
                   <a class="btn__1" href="https://localhost:7162/typesofpreparation/main">Далее</a>
               </div>
       </div>
       <div class ="border__2">
                <div class="box__2">
                   <div class="text">По ингредиентам</div>
                   <div class="subtext__2">Ищите рецепт с определенным продуктом? Мы вам поможем</div>
                  <a class="btn__2" href="https://localhost:7162/ingredients/main">Далее</a>
               </div>
       </div>
       <div class ="border__3">
                <div class="box__3">
                   <div class="text">Национальные кухни</div>
                   <div class="subtext__3">Рецепты различных блюд всего мира предстваленны на нашем сайте</div>
                 <a class="btn__3" href="https://localhost:7162/nationalkitchen/main">Далее</a>
                  
               </div>
       </div>
    </div>


<div class="category_head">
   <div class="category">
      <div class="container">
          <main role="main" class="pb-3">
            @RenderBody()
          </main>
      </div>
   </div>
</div>

    @*<footer class="foot">
            &copy; 2022 - GroupWebApp - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </footer>*@

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
  
    
 
</body>
</html>
