<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Е-Кулинар</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comforter&family=Montserrat:wght@300;400;500&display=swap" rel="stylesheet">    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" /> 
    <link rel="stylesheet" href="~/css/site.css" /> 
</head>
<body>
  <header class="header">
        <div class="container">
            <div class="header__inner">
               <div class="header_logo">Е-Кулинар</div>
                <nav class="nav">
                   <a class="nav__link" href="https://localhost:7162/Recipes/Main">Добавить Рецепты</a>
                </nav>
             </div>
         </div>           
  </header>
     <div class="intro">
         <div class="container">
             <div class="intro__inner">
                 <h2 class="intro_suptitle">Время творить</h2>
                <h3 class="intro__title">Добро пожаловать на Е-Кулинар</h3>
                <a class="button" href="#">Узнать больше</a>
             </div>
         </div>
    </div>
    <div class="box">
       <div class ="border__1">
               <div class="box__1">
                   <div class="text">По типу приготовления</div>
                   <div class="subtext__1">Найдем рецепты блюд, приготовленных на пару, в духовке и т.д.</div>
                   <a class="btn__1" href="https://localhost:7162/typesofpreparation/main">Далее</a>
               </div>
       </div>
       <div class ="border__2">
                <div class="box__2">
                   <div class="text">По ингредиентам</div>
                   <div class="subtext__2">Ищите рецепт с определенным продуктом? Мы вам поможем</div>
                  <a class="btn__2" href="https://localhost:7162/ingredients/main">Далее</a>
               </div>
       </div>
       <div class ="border__3">
                <div class="box__3">
                   <div class="text">Национальные кухни</div>
                   <div class="subtext__3">Рецепты различных блюд всего мира предстваленны на нашем сайте</div>
                 <a class="btn__3" href="https://localhost:7162/nationalkitchen/main">Далее</a>                 
               </div>
       </div>
    </div>
<div class="category_head">
   <div class="category">
      <div class="container">
          <main role="main" class="pb-3">
            @RenderBody()
          </main>
      </div>
   </div>
</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false) 
</body>
</html>
